<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id)%><%#1%>

  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.user.name, user_path(prototype.user.id),  class: :card__user %>
  </div>
</div>

<%#1%>
  <%# ここに(prototype.id)と記述する必要があるなぜが、prototype_pathだけだとrails routesのどのパスを求めているか分からないから%>
  <%# link_toとimage_tagの合わせ技 %>
  <%# link_toの後ろは表示したいの例えば、下にあるタイトルとかがそれ今回は、%>
<%#end%>

<%#prototype.user.nameの記述について
ここは、プロトのモデルがユーザーのテーブルにアソシエーションで
繋がっているのでモデル.モデル.カラムで記述した有ってる？%>