<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%= render partial: "form", local: { prototype: @prototype } %><%#0924 _form.html.erbを呼び出す記述はこれであってるのか？%>
    </div>
  </div>
</div>