<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
       <div class="greeting">
        <p> こんにちは </p>
        <%= link_to  current_user.name, root_path, class: :greeting__link%>
    <% else %>
        <%= link_to  "", root_path, class: :greeting__link%>
    <% end %>
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
        <%= render partial: "prototype", locals: { prototype: prototype } %>
      <% end %>
      <%# 0923このままだと NoMethodErrorが出るここでは解決%できなそうなのでコントローラーに問題があるのでは？>
      <%# ここの"prototype"は_prototypeにつながっている？>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
