<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%= render partial: "form", local: { prototype: @prototype} %>
        <%#部分テンプレートと呼ばれるところ、"form"と簡単に表記されているのは_fotmが分けられたviewだから%>
    </div>
  </div>
</div>